{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1> Bienvenue sur la Page Web</h1>
    <p>Bienvenue sur ce site d'agence immobiliere</p>
</div>
<div class="container">
</div>
{% endblock %}